* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    padding-block: 8px;
    padding: 20px;
}

.galeria {
    display: columns;
    columns: 3;
    text-align: center;
}

.galeria img {
    width: 100%;
    padding-block: 5px;
}